.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 2rem;
  font: normal 500 1.3rem "Roboto", sans-serif;
  width: 100%;
  z-index: 1001;
  transition: transform 0.3s ease-in-out;
  margin-top: 1.5rem;
  background-color: #33333367;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.185);
  height: 50px;
}

.menu-items {
  display: flex;
  gap: 4rem;
}

.menu-items a {
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 0.5rem;
}

.menu-items a:hover {
  opacity: 0.8;
}

.hero {
  padding: 1rem;
  height: 15vh;
  background-image: linear-gradient(to right, #f2709c, #ff9472);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.185);
}

@media (max-width: 600px) {
  .menu {
    background-color: transparent;
    box-shadow: none;
  }

  .menu-items {
    gap: 2rem;
    padding: 0.5rem;
  }

  .menu-items a {
    padding: 0.5rem;
  }

  .menu-items a span {
    display: none;
  }

  .menu-items a i {
    font-size: 1.5rem;
  }

  .hero {
    height: 13vh;
    padding: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .menu {
    gap: 2rem;
    margin: 1rem;
    padding: 0.75rem;
  }

  .menu-items a {
    font-size: 1.2rem;
  }

  .hero {
    height: 12vh;
    padding: 0.75rem;
  }
}