.question-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fde7eb; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 10% auto;
    width: 600px;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
button {
    margin: 0.3rem 0;
    padding: 0.5rem;
    background-color: #fff;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font: normal 500 1rem "Roboto", sans-serif;
    color: rgb(88, 83, 83);
}
button:hover {
    background-color: #796a6a41;
}

@media (max-width: 600px) {
    .question-card {
        width: 90%; 
        margin: 5% auto; 
        padding: 15px; 
    }

    .options {
        margin: 5px auto; 
    }

    button {
        padding: 0.4rem; 
        font-size: 0.9rem; 
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .question-card {
        width: 80%; 
        margin: 7% auto; 
    }

    .options {
        margin: 8px auto; 
    }

button {
        padding: 0.5rem; 
        font-size: 1rem; 
    }
}
